# Infra/deployment (not required to run app)
terraform/
docs/
puppet/
scripts/

# Database
*.db

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.log
.vs/
packages/

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
