[OPTIONS]
ACTION="Install"
IACCEPTSQLSERVERLICENSETERMS="True"
QUIET="True"
FEATURES=SQLENGINE
INSTANCENAME="{{ mssql_instance_name | default('SQLEXPRESS') }}"
SECURITYMODE="SQL"
SAPWD="{{ mssql_sa_password }}"
TCPENABLED="1"
UPDATEENABLED="False"
USEMICROSOFTUPDATE="False"
SQLSYSADMINACCOUNTS="BUILTIN\Administrators"
SQLSVCACCOUNT="NT AUTHORITY\NETWORK SERVICE"
