$env:HTTP_PORT = '5001'
$env:DATABASE_URL = '{{ payment_path }}\payment.db'
$env:DATABASE_TYPE = 'sqlite'
$env:USE_QUEUE = 'true'
$env:ACCOUNT_SERVICE_URL = 'http://localhost:5005'
$env:IDEMPOTENCY = 'db'
{% if newrelic_license_key is defined and newrelic_license_key | length > 0 %}
$env:NEW_RELIC_LICENSE_KEY = '{{ newrelic_license_key }}'
$env:NEW_RELIC_APP_NAME = '{{ go_newrelic_payment_app_name | default("NavalArchivePayment") }}'
$env:NEW_RELIC_DISTRIBUTED_TRACING_ENABLED = 'true'
$env:NEW_RELIC_INFINITE_TRACING_TRACE_OBSERVER_HOST = '{{ newrelic_trace_observer_host }}'
{% endif %}
Set-Location '{{ payment_path }}'
& '{{ payment_path }}\payment-service.exe'
