$env:HTTP_PORT = '5001'
$env:DATABASE_URL = '{{ payment_path }}\payment.db'
$env:DATABASE_TYPE = 'sqlite'
$env:USE_QUEUE = 'true'
$env:ACCOUNT_SERVICE_URL = 'http://localhost:5005'
$env:IDEMPOTENCY = 'db'
Set-Location '{{ payment_path }}'
& '{{ payment_path }}\payment-service.exe'
