<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">
      <span class="text-uppercase" style="letter-spacing: 0.15em;">⚓ Naval Archive</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav ms-auto">
        <% (navItems || []).forEach(function(item) { %>
        <li class="nav-item">
          <a class="nav-link<%= (currentPath === item.href || (item.href !== '/' && currentPath.startsWith(item.href))) ? ' active' : '' %>" href="<%= item.href %>"><%= item.label %></a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</nav>
